
# General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Python
__pycache__/
*.py[cod]
*$py.class

# Other
*.cfg
*.proto
*.xml
*.dat
*.txt
utils/handtracking/hand_inference_graph/
utils/handtracking/protos/BUILD
utils/handtracking/protos/
*.weights
*.names
*.avi
*.jpg
