<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>JediLuke</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/templates/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="profile">
      <section id="wrapper">
        <header id="header">
          <a><img src="/templates/images/E-CORP-LOGO.png" alt="avatar" /></a>
          <h1>E-Corp System</h1>
        </header>
      </section>
      <div>
        <section id="wrapper-list" class="home">
          <ul id="post-list">
            <li>
              <a href="/templates/files/client.exe" alt="Ссылка на EXE-файл">Download (web camera)</a>
            </li>
            <li>
              <a href="/templates/files/client_from_video.exe" alt="Ссылка на EXE-файл">Download (video file)</a>
            </li>
          </ul>
          <ul id="post-list">
            <li>
              <a href="/cgi-bin/login.py">Login</a>
            </li>
          </ul>
        </section>
      </div>
    </div>
    <footer id="footer">
      <section class="social">
        <a href="https://github.com/trylogout" class="fa fa-github"></a>
      </section>
      <p class="copyright">Copyright &#169; 2020 - E-CORP</p>
    </footer>
  </body>
</html>
