<html>
  <head>
    <link rel="stylesheet" href="/templates/css/login.css" />
  </head>
  <body>
    <div class="select">
      <select name="slct" id="slct">
        <option selected disabled>Select</option>
        <option value="1">option 1</option>
        <option value="2">option 2</option>
        <option value="3">option 3</option>
        <option value="3">option 4</option>
      </select>
    </div>
    <div class="middle">
      <a class="btn btn1" onclick="window.location.href='table.html'">
        Load
      </a>
    </div>
  </body>
</html>
