<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Table</title>
    <link rel="stylesheet" href="/templates/css/styles.css" />
  </head>

  <body>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>SubName</th>
          <th>Emotion</th>
          <th>SomeInfo</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Person 1</td>
          <td>Vit</td>
          <td>Lee</td>
          <td>Angry</td>
          <td>Student</td>
        </tr>

        <tr>
          <td>LostPerson</td>
          <td colspan="4">NONE</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
